.container {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  color: #cfdfc5;
  background-color: cfdfc5;
  opacity: 0.8;
  font-family: Lobster;
}
.btn-twitter {
  color: #cfdfc5;
  background-color: #cfdfc5;
}
body {
  font-family: Lobster, Monospace;
  background-color: #cfdfc5;
  color: rgb(0, 47, 43);
}

.o {
  opacity: 0.6;
  background-color: #cfdfc5;
  font-weight: light;
  color: rgb(0, 47, 43);
}
